<% provide(:title, "Bienvenido") %>

<section id="carousel" class="section-home">
    <h1>Carousel</h1>
</section>

<section id="discover" class="section-home">
    <h1>Descubre / Inspírate</h1>
</section>

<section id="projects-map" class="section-home">
    <h1>Mapa de Proyectos #emprendeAquí
</section>

<section id="cf-tools" class="section-home">
    <h1>Llamada a herramientas Closefunding</h1>
</section>


<section id="blog-and-events" class="section-home">
    <h1>Blog y Eventos Closefunding</h1>
</section>
