<% provide(:title, "Manifiesto") %>

<h1><%= t :manifest_title %></h1>
<p>Find me in app/views/static_pages/manifest.html.erb</p>
<p>Publicado <%= t time_ago_in_words(9.days.ago).downcase %></p>

<% if @user_supporters.any? %>
  <ul class="supporters">
    <% @user_supporters.each do |user_supporter| %>
        <li><%= link_to image_tag(user_supporter.avatar_url), user_supporter, title: user_supporter.name %></li>
    <% end %>
  </ul>
<% end %>
