<tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td>
        <%= link_to t(:view_user), user, class: 'btn btn-default' %>
    </td>
    <td>
        <% if current_user.admin? && !current_user?(user) && !user.admin? %>
            <%= link_to t(:delete_user), user, class: 'btn btn-danger', method: :delete, data: { confirm: "¿Estás seguro? Una vez eliminado no habrá vuelta atrás" } %>
        <% end %>
    </td>
</tr>
