<% provide(:title, "Usuarios") %>

<div class="row">
	<div class="col-md-9 col-md-offset-1">
		<% if current_user && current_user.admin? %>
			<%= render 'layouts/admin_menu' %>
		<% end %>
		<h1>Usuarios</h1>
		<%= will_paginate %>
		<table class="table">
			<tr>
				<th>Nombre</th>
				<th>email</th>
				<th></th>
				<th></th>
			</tr>
			<% if @users.any? %>
				<% @users.each do |user| %>
					<%= render user %>
				<% end %>
			<% else %>
				<tr><td colspan=2>No hay usuarios en este momento</td></tr>
			<% end %>
		</table>
		<%= will_paginate %>
	</div>
</div>
