<% provide(:title, "Usuarios") %>

<div class="row">
	<div class="col-md-9 col-md-offset-1">
		<h1>
			Usuarios
			<%= link_to 'Añadir nuevo', new_user_path, class: 'btn btn-default' %>
		</h1>
		<%= will_paginate %>
		<table class="table">
			<tr>
				<th></th>
				<th>Nombre</th>
				<th>email</th>
				<th></th>
				<th></th>
			</tr>
			<% if @users.any? %>
				<% @users.each do |user| %>
					<%= render user %>
				<% end %>
			<% else %>
				<tr><td colspan=2>No hay usuarios en este momento</td></tr>
			<% end %>
		</table>
		<%= will_paginate %>
	</div>
</div>
