<% provide(:title, I18n.t(:signup)) %>

<%= render 'shared/admin_menu' %>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1><%= t :signup %></h1>
  </div>
</div>

<%= render 'form' %>
