<% provide(:title, I18n.t(:edit_project_title)) %>

<%= render 'shared/admin_menu' %>

<div class="row">

	<h1><%= t(:edit_project_title) %></h1>

	<%= render 'form' %>

</div>

<br />
<br />

<div class="row">
	<div class="col-md-6 col-md-offset-4">
		<p><%= link_to t(:delete_project), project_path(@project), method: :delete, data: { confirm: t(:confirm_delete_project)}, class: "btn btn-danger" %></p>
	</div>
</div>
