<% provide(:title, I18n.t(:projects)) %>

<h1>
  <%= t(:projects) %>
  <% if current_user && admin_user %>
    <%= link_to I18n.t(:new_project_title), new_project_path, class: 'btn btn-default' %>
  <% end %>
</h1>
<ul class="projects">
  <% @projects.each do |project| %>
    <%= render project %>
  <% end %>
</ul>
