<h2><%= link_to promo.name, promo %></h2>
<p class="product-description text-muted"><%= promo.brief_product_description %></p>
<p class="promo-description"><%= promo.brief_promo_description %></p>
<p class="get-promo-btn"><%= link_to "Llévate esta promoción", '#', class: 'btn btn-warning' %></p>
