<% provide(:title, I18n.t(:edit_promo)) %>

<div class="row">
  <div class="com-md-12">
    <%= render 'shared/admin_menu' %>
  </div>
</div>
<div class="row">
  <h1><%= t(:edit_promo) %></h1>
</div>
<%= render 'form' %>
