/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';

@import 'static_pages';
@import 'projects';

$cf-blue: #00279D;
$cf-orange: #F90;
$cf-yellow: #FC3;

body {
    margin-top: 50px;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Roboto, Arial, sans-serif;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-bottom: 20px;
}

h1 {
  font-weight: 300;
}

header {

  font-size: 14px;

    .navbar-brand {
        padding: 4px 0;
    }

    .navbar-default {
        background: $cf-blue;

        .navbar-nav > li > a {
            color: #FFF;

            &:hover {
                color: $cf-yellow;
            }

            &:focus {
              color: $cf-orange;
            }
        }
    }
}

ul.nav-pills {
    margin: 20px 0 0;

    li.active a {
        background: $cf-blue;
    }
}

div.container {
  .alert {
    margin-top: 1em;
  }
}

footer {

	padding: 1em 0;

	ul.footer-list {
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			display: inline-block;
			padding-left: 1em;

			a {
				color: #777;
				text-decoration: none;

				&:hover {
					color: #333;
				}
			}
		}
	}
}
