// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.event-list {
  list-style-type: none;
  margin: 0 0 2em;
  padding: 0;
}

div.event-header {
  height: 360px;
  overflow: hidden;
  margin-bottom: 2em;
  background: #2590bc;
  background-clip: content-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .event-header-info {
    z-index: 9999;
    position: absolute;
    bottom: 24px;
    margin: 0;
    padding: 0 2em;
    color: #FFF;
    text-shadow: 0 1px 4px rgba(0, 0, 0, .8);

    .event-header-info-date {
      display: table-cell;
      width: 80px;
      height: 80px;
      line-height: 32px;
      border: 3px solid #FFF;
      text-align: center;
      background: rgba(0, 0, 0, .2);
      border-radius: 3px;

      .month {
        display: block;
        font-size: 18px;
        text-transform: uppercase;
        color: #FFF;
      }
      .day {
        display: block;
        font-size: 32px;
        color: #FFF;
      }
    }

    .event-header-info-content {
      display: table-cell;
      padding-left: 1em;

      h1 {
        margin: 0 0 4px;

        a {
          text-shadow: none;
        }
      }
    }
  }
}

div.event-content {
  h2 {
    margin-top: 24px;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
  }

  img {
    width: 100%;
  }

}

div.event-venue-info {
  img.venue-image {
    border-radius: 50%;
    width: 96px;
    height: 96px;
    float: left;
    margin: 0 18px 18px 0;
  }

  h3 {
    margin: 6px 0;
  }

  div#map {
    display: block;
    height: 200px;
    clear: both;
    margin-bottom: 24px;
  }

  ul.social-links {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: 1em;
    }
  }
}

ul.events-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li.event {
    display: inline-block;
    float: left;
    width: 240px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.219608) 0px 1px 2px 0px;
    border: 1px solid #CCC;
    padding: 0;
    box-sizing: border-box;
    margin-right: 1em;
    margin-bottom: 1em;

    .event-li-venue-info {
      padding-top: 72px;
      background-color: #666;
      text-align: center;
      height: 160px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      cursor: pointer;

      &:hover {
        opacity: .8;
      }

      a {
        font-size: 18px;
        font-weight: bold;
        color: #FFF;
        text-shadow: 0 1px 4px rgba(0, 0, 0, .8);

        &:hover {
          text-decoration: none;
        }
      }
    }

    .event-li-event-info {
      background-color: #F90;
      text-align: center;
      color: #FFF;
      padding: 16px;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;

      h3 a, p a {
        color: #FFF;
      }

      h3 {
        font-weight: 300;
        font-size: 22px;
        line-height: 32px;
        text-transform: uppercase;
      }
    }
  }
}

ul.event-categories {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li.event-category {
    display: inline-block;
    font-size: 12px;
    margin-right: 0.3em;

    a {
      color: #000;
      text-decoration: none;
      text-shadow: none;
      padding: .3em .5em;
      background: #FFF;
      border-radius: 2px;
      border: 1px solid #E0E0E0;

      &:hover {
        color: #333;
        background-color: #e6e6e6;
        border-color: #adadad;
      }
    }
  }
}
