// Place all the styles related to the Promos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul#promos {

  list-style-type: none;
  margin: 0;
  padding: 0;

  li.promo {
      display: inline-block;
      float: left;
      width: 30%;
      border-radius: 6px;
			box-shadow: rgba(0, 0, 0, 0.219608) 0px 1px 2px 0px;
			border: 1px solid #CCC;
      padding: 35px 35px 15px;
      box-sizing: border-box;
      margin-right: 1em;
      margin-bottom: 1em;

      .logo {
        text-align: center;
      }

      .product-info {
        display: block;
        padding-bottom: 10px;
        border-bottom: 1px solid #CCC;
      }

      h2 {
        font-size: 20px;
        margin-bottom: 10px;

        a:hover {
          text-decoration: none;
          color: #F90;
        }
      }

      .product-description {
        font-size: 14px;
      }

      .promo-info {
        display: block;
        padding-top: 20px;
      }

      .promo-description {
        color: #F90;
        font-size: 16px;
        text-align: center;
      }

      .get-promo-btn {
        margin-top: 10px;
        text-align: center;

        a {
          background: #F90;
          font-size: 16px;
        }
      }
  }
}

/* promos#new and promos#edit */
form {
  .promo-form-header {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #CCC;
  }
}

/* promo#show */
.promo-show {
  position: relative;
  padding: 20px 0;
  border-bottom: 1px solid #CCC;
  margin-bottom: 36px;

  .promo-show-image {
    float: left;
    margin-right: 36px;
  }

  .promo-show-content {
    overflow: hidden;
  }

  .promo-show-description {
    color: #F90;
  }

  ul.social-links {
    list-style-type: none;
    margin: 20px 0;
    padding: 0;

    li {
      display: inline-block;
      margin-right: 10px;
    }
  }
  .btn-promo {
    position: absolute;
    bottom: 36px;
    right: 0;
  }
}

.promo-show-details {

  margin-bottom: 36px;

  img {
    float: right;
    margin-left: 36px;
    margin-bottom: 36px;
  }

  h3 {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .promo-button-bottom {
    padding: 20px 0;
    text-align: center;
  }
}

ul.promo_categories {
  margin: 0 0 10px 0;
  padding: 0;
  list-style-type: none;

  li {
    display: inline-block;
    margin-right: .3em;
    margin-bottom: .6em;
    a {
      font-size: 14px;
      color: black;
      font-weight: bold;

      &:hover {
        color: #F90;
        text-decoration: none;
      }
    }
  }
}
