// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section.section-home {

}

#carousel {
    background-image: asset-url("background-carousel.jpg");
    background-attachment: fixed;
    background-size: cover;
}

#discover {
    background: PaleGreen;
}

#projects-map {
    background: LightSteelBlue;
}

#cf-tools {
    background: Wheat;
}

#blog-and-events {
    background: MistyRose;
}
