// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home {

  overflow: scroll;

  section.section-home {
    width: 100%;
  }

  #carousel {
    height: 500px;
  }

  #discover {
      background: PaleGreen;
  }

  #projects-map {

      .container {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
      }

      #map {
        width: 100%;
        height: 500px;
      }

      #projects {
        padding: 60px 40px;
      }

      .project {
        padding: 40px 0;
      }
  }

  #cf-tools {
      background: Wheat;
  }

  #blog-and-events {
      background: MistyRose;
  }

}
