// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-avatar {
  img {
    margin-bottom: 1em;
  }

  input[type="file"] {
    width: 100%;
    margin-bottom: 1em;
  }
}

.user-info {
  ul.user-social-links {

    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: 1em;
    }
  }
}
