<footer role="contentinfo">
	<nav role="navigation">
		<div class="navbar-header">
			&copy; Closefunding 2015
		</div>
		<ul class="footer-list">
			<li><%= link_to 'Alianzas', '#' %></li>
			<li><%= link_to 'Política de Cookies', '#' %></li>
		</ul>
	</nav>
</footer>